/* 
    Document   : estilo_mobile
    Created on : 26/10/2012, 19:33:21
    Author     : Jonas Esteves
    Description: Folha de estilos geral.
        Purpose of the stylesheet follows.
*/

* {
    border: 0;
    margin: 0;
    padding: 0;
}

article, footer, header, nav, section {
    display: block;
}

body {
    background: #fff ;
    color: #fff;
    font-family: verdana;
    font-size: 14px;
    text-shadow: 3px 5px 5px rgba(0,0,0,0.5)
}

header{
    margin: 0 auto;
    /*max-width: 90%; /*caixa header vai ocupar 90% da tela*/
    position: fixed;
    text-align: center;
    width: 100%;
}

header h1, nav {
    background: #1a6194;
    display: inline-block; /*headerH1 e nav ficam na mesma altura*/
    max-width: 100%;
    vertical-align: middle; /*alinhamento vertical no meio (cima, meio, baixo)*/
}

nav {
    background: #1a6194;
    display: inline-block; /*headerH1 e nav ficam na mesma altura*/
    max-width: 100%;
    vertical-align: middle; /*alinhamento vertical no meio (cima, meio, baixo)*/
}

nav ul {
    list-style: none;
}

nav li {
    display: inline-block; /*alinhar os itens do menu*/
    padding: 2px; /*distancia entre o itens do menu*/
    vertical-align: top;
}

/*trabalhar os links dentro do nav*/
nav a{
    background: #f69401; /*cor de fundo dos links*/
    border: 0.1em solid #57abb8;
    border-radius: 4px;
    /*color: #f60; /*cor da letra*/
    display: block;
    font-family: chiller, verdana;
    font-size: 22px;
    padding: 1px;

    -ms-transition: all 0.3s ease-in; /*para IE*/
    -moz-transition: all 0.3s ease-in; /*firefox*/
    -o-transition: all 0.3s ease-in; /*opera*/
    -webkit-transition: all 0.3s ease-in; /*chrome*/
    transition: all 0.3s ease-in; /*geral*/
}

nav a:hover { /*mudar estilo do fundo do menu ao passar o cursor*/
    background: #212121;
    border: 0.1em dashed #f60;
    border-radius: 0 8px 0 8px; /*4 valores, 1 para cada ponta da borda*/
    color: #f69401;
    -ms-transition: all 0.3s ease-out; /*para IE*/
    -moz-transition: all 0.3s ease-out; /*firefox*/
    -o-transition: all 0.3s ease-out; /*opera*/
    -webkit-transition: all 0.3s ease-out; /*chrome*/
    transition: all 0.3s ease-out; /*geral*/
}

img {
    max-width: 100%;
}

footer{
    background: #f69401;
    border-radius: 4px;
    font-size: 10px;
    margin: 0 auto;
    max-width: 90%; /*caixa header vai ocupar 90% da tela*/
    padding: 0.75em 0;
    text-align: center;
}

footer a:hover{
    color: #1e6381;
}

article a{
    background: #f69401; /*cor de fundo dos links*/
    border: 0.1em solid #57abb8;
    border-radius: 4px;
}

article a:hover{
    background: #212121;
    color: #f69401;
}

a { /*mudar a fonte dos links*/
    color: #FFF; /*#57abb8;*/
    font-weight: bold;
    text-decoration: none;
}

a:hover { /*muda a cor da fonte ao passar o cursor sobre um link*/
    color: #f60;
}

header#menu {
    background: #1a6194;
    /*border-radius: 0 0 20px 20px;*/
    margin: 0 auto;
}

section#conteudo {
    background: #fff;
    margin: 0 auto;
    max-width: 90%;
}

section#principal {
    background: #fff;
    border-radius: 8px;
    color: #1e6381;
    display: inline-block;
    margin-top: 80px ; /*margem cima e baixo = 1px | lateral = automatico*/
    max-width: 100%;
    padding: 4px; /*somente 1 valor = margem para os 4 lados (tamanho do interior do background)*/
    vertical-align: top;
    width: 90%;
}

section#foto {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

section#w3c {
    text-align: center;
}