@charset "utf-8";
/*
 * PROCONsulta - Consulta e acompanhamento de reclamações cadastradas no PROCON [Modificar Title?]
 * Authors: Artur Luiz/Cesar Cusin/Jonas Esteves/Josmadelmo Davi
 * Data: 13/12/2012
 */

/* Font-face
---------------------------------------------------------------------------------------------------- */
@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: 400;
  src: local('DroidSans'), local('DroidSans'), url('../fonts/DroidSans-webfont.woff') format('woff');
}
@font-face {
  font-family: 'DroidSans';
  font-style: normal;
  font-weight: 700;
  src: local('DroidSans'), local('DroidSans'), url('../fonts/DroidSans-Bold-webfont.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url('../fonts/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url('../fonts/xjAJXh38I15wypJXxuGMBobN6UDyHWBl620a-IRfuBk.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url('../fonts/k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url('../fonts/PRmiXeptR36kaC0GEAetxjqR_3kx9_hJXbbyU8S6IN0.woff') format('woff');
}

/* Body
---------------------------------------------------------------------------------------------------- */
body {backgroud-color:#F9F9F9;font:.8em/1.2em 'Open Sans';color:#333}

/* Wrap
---------------------------------------------------------------------------------------------------- */
#wrap {backgroud-color:#D9D9D9;width:1130px;margin:10px auto}

/* Logo
---------------------------------------------------------------------------------------------------- */
#logo {margin:25px 0}
#logo a.logo {color:#FF9911;font-family:"DroidSans";font-size:2.4em;font-weight:bold;text-decoration:none}
#logo a.logo span.undln {border-bottom:4px solid #5D5D5D}
#logo a.logo span.sulta {color:#5D5D5D;font-size:1.3em;font-weight:normal}

/* Tags
---------------------------------------------------------------------------------------------------- */
a {color:#FF8800;text-decoration:none}
a:hover,
a:active,
a:focus {color:#FF9933;text-decoration:underline}

/* Media queries - layout responsivo
---------------------------------------------------------------------------------------------------- */
@media print {
	#wrap {border:none}
}

@media screen and (min-width:980px) and (max-width:1130px) {
	#wrap {width:980px}
}

@media screen and (min-width:768px) and (max-width:980px) {
	#wrap {width:768px}
}

@media screen and (min-width:600px) and (max-width:768px) {
	#wrap {width:600px}
}

@media screen and (min-width:480px) and (max-width:600px) {
	#wrap {width:480px}
}

@media screen and (min-width:320px) and (max-width:480px) {
	#wrap {width:320px}
}

@media screen and (min-width:0px) and (max-width:320px) {
	#wrap {width:100%}
}
